In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import shutil
from mumin import MuminDataset
from dotenv import find_dotenv, load_dotenv
load_dotenv(find_dotenv())

True

In [2]:
dataset = MuminDataset()
dataset

c:\Users\ethan\anaconda3\lib\site-packages\mumin\dataset.py:176: UserWarning: Twitter bearer token not provided, so rehydration can not be performed. This is fine if you are using a pre-compiled MuMiN, but if this is not the case then you will need to either specify the `twitter_bearer_token` argument or set the environment variable `TWITTER_API_KEY`.
  warnings.warn('Twitter bearer token not provided, so '

MuminDataset(size=small, compiled=False, bearer_token_available=False)

In [3]:
shutil.copy(Path("../data/external/mumin-small.zip"), 'mumin-small.zip')

'mumin-small.zip'

In [4]:
dataset.compile()

2022-06-07 14:50:37,170 [INFO] Loading dataset

MuminDataset(num_nodes=383,740, num_relations=467,765, size='small', compiled=True, bearer_token_available=False)

In [22]:
dataset.nodes['claim']

,embedding,label,reviewers,date,language,keywords,cluster_keywords,cluster,train_mask,val_mask,test_mask
0,"[-0.04202667623758316, -0.00033039430854842067...",misinformation,[observador.pt],2020-03-15 12:30:21,pt,corona virus reaching lungs remains,coronavirus china covid 19 treatments recommended,0,True,False,False
1,"[-0.19561722874641418, -0.23915071785449982, 0...",misinformation,[observador.pt],2020-08-17 17:14:55,pt,big dubai airport,,-1,True,False,False
2,"[0.05876247584819794, 0.02175525575876236, 0.0...",misinformation,[observador.pt],2020-03-23 01:55:11,pt,news corona virus vaccine ready,coronavirus china covid 19 treatments recommended,0,True,False,False
3,"[0.05904906615614891, 0.3682330846786499, 0.00...",misinformation,[observador.pt],2018-02-19 21:05:35,pt,gardenzio stallone died morning prostate,,-1,True,False,False
4,"[0.049279212951660156, 0.021194076165556908, -...",misinformation,[observador.pt],2020-06-03 10:24:50,pt,81 blacks killed blacks 97,agency jacques attali future question finding ...,16,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2160,"[0.19675391912460327, 0.02616865746676922, -0....",misinformation,[boomlive.in],2021-05-10 13:09:31,en,searched google 163 million times,,-1,True,False,False
2161,"[-0.03113579750061035, 0.06013331934809685, -0...",factual,[dogrulukpayi.com],2021-06-12 00:00:00,tr,turkey akp era added history,,-1,True,False,False
2162,"[0.031979452818632126, 0.10698806494474411, -0...",factual,[dogrulukpayi.com],2021-07-04 00:00:00,tr,diyanet issued fatwa women money,,-1,True,False,False
2163,"[-0.010320787318050861, 0.2420617938041687, 0....",misinformation,[dogrulukpayi.com],2020-12-11 00:00:00,tr,announced temporary facial paralysis,coronavirus china covid 19 treatments recommended,0,True,False,False
2164,"[0.0019091481808573008, 0.021807804703712463, ...",misinformation,[fakenews.pl],2021-01-15 00:00:00,pl,died norway result vaccination covid,coronavirus china covid 19 treatments recommended,0,True,False,False

In [29]:
dataset.nodes.keys()

dict_keys(['claim', 'tweet', 'user', 'image', 'article', 'hashtag', 'reply'])

In [30]:
list(dataset.rels.keys())

[('tweet', 'discusses', 'claim'),
 ('tweet', 'mentions', 'user'),
 ('tweet', 'has_image', 'image'),
 ('tweet', 'has_hashtag', 'hashtag'),
 ('tweet', 'has_article', 'article'),
 ('reply', 'reply_to', 'tweet'),
 ('reply', 'quote_of', 'tweet'),
 ('user', 'posted', 'tweet'),
 ('user', 'posted', 'reply'),
 ('user', 'mentions', 'user'),
 ('user', 'has_hashtag', 'hashtag'),
 ('user', 'retweeted', 'tweet'),
 ('user', 'follows', 'user')]

In [34]:
dataset.nodes['claim'].label.value_counts()

misinformation    2007
factual            158
Name: label, dtype: int64

## Getting network

In [6]:
dataset.rels[('tweet', 'mentions', 'user')]

       src   tgt
0        6     7
1       11    13
2     1358    13
3     2147    13
4     2210    13
...    ...   ...
1109  3999  3197
1110  4000  3199
1111  4017  3215
1112  4019  3217
1113  4019  3218

[1114 rows x 2 columns]

In [25]:
dataset.rels[('user', 'retweeted', 'tweet')]

          src   tgt
0        5089     1
1        5089  1385
2       37781  1385
3       37781    10
4      144946  1385
...       ...   ...
13267  150684  4048
13268    3238  4048
13269  150687  4048
13270  150694  4048
13271   29723  4059

[13272 rows x 2 columns]

In [7]:
dataset.rels[('tweet', 'discusses', 'claim')]

       src   tgt
0        0     0
1        1     1
2        2     1
3        3     1
4        4     1
...    ...   ...
5072  4009  2163
5073  4010  2163
5074  4011  2163
5075  4079  2164
5076  4064  2164

[5077 rows x 2 columns]